@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif JP', serif;
}

.post-comments-form-textarea {
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
}

.post-comments {
    background-color: #F5F5DC; /* Bege claro */
    border: 2px solid #E63946; /* Vermelho */
    padding: 16px;
    border-radius: 8px;
    font-family: 'Noto Serif JP', serif; /* Fonte japonesa */
}

.post-comment {
    color: #444;
    font-size: 12px;
    line-height: 20px;
    background-color: #FFF;
    border: 1px solid #D4A373; /* Tom de madeira */
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-style: italic;
}

.post-comment-content {
    font-style: italic;
}

.post-comments-form {
    margin-top: 16px;
    text-align: right;
}

.post-comments-form-textarea {
    display: block;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.post-comments-form-button {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #27ae60;
    color: #eee;
    cursor: pointer;
}